<div class="content" role="main">
  <p>
    Welcome to Quix interview pair programming session.
  </p>
  <p>
    This is empty Angular project with NgRx library installed.
  </p>

  <p>
    Here is Hello world example including async action example:
  </p>

  <p>Message: <strong>{{message | async}}</strong></p>

  <button (click)="helloWorld()">Hello world</button>

  <button (click)="helloWorldFromServer()">Hello world from server</button>

  <button (click)="getData()">Retrieve Data FroM Server</button>


  <div *ngIf="data | async as data">

    <table>
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Speed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let timestamps of data.timestamps; let i = index">
          <td>{{ timestamps }}</td>
          <td>{{ data.numericValues.Speed[i] }}</td>
        </tr>
      </tbody>
    </table>

    <!-- {{ data | json }} -->

  </div>

</div>
